body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family:'Lucida Sans';
	background: linear-gradient(to bottom, rgb(195,176,145), rgb(160, 93, 0), rgb(244, 219, 166));
}
.main{
	width: 450px;
	height: 500px;
	background: transparent;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.main {
    min-height: 600px; /* Sesuaikan dengan tinggi konten */
}
.signup, .login {
    height: auto;
    min-height: 600px; /* Atau sesuai kebutuhan */
}

.signup{
	position: relative;
	width:100%;
}
.signup input::placeholder{
	color: rgb(0, 0, 0);
}
label{
	color: rgb(103, 60, 0);
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 50px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 60%;
	height: 10px;
	background: transparent;
	justify-content: center;
	display: flex;
	margin: 18px auto;
	padding: 12px;
    border: 2px solid rgb(103, 60, 0);
	outline: none;
	border-radius: 5px;
}
button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: rgb(244, 219, 166);
	background: rgb(103, 60, 0);
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #6d44b8;
}

.form-row {
    display: flex;
	height: 30px;
    align-items: center; /* Menyelaraskan elemen secara vertikal */
    justify-content: flex-start; /* Menyelaraskan elemen ke kiri */
    gap: 5px; /* Memberikan jarak antar elemen */
}

.form-row label {
	color: rgb(103, 60, 0);
	margin: 0;
	margin-left: 50px;
    width: 40%;
	left: 0%;
	font-size: 20px;
}

.form-row select {
    width: 30%; /* Lebar dropdown select */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(103, 60, 0);
	background: transparent;
}

.login{
	background: rgb(244, 219, 166);
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}

.login a{
	color: rgb(103, 60, 0);
	text-decoration: none;
	margin-left: 90px;
}

.login label{
	color: rgb(103, 60, 0);
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}