/*=============halaman==============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*==============body================*/
body {
    color: rgb(103, 60, 0);
    margin: auto;
    font-family: 'MADE Sunflower', sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(195,176,145) 3%, rgb(160, 93, 0) 38%, rgb(244, 219, 166) 68%, rgb(227, 144, 0) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

/*================background===============*/

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(244, 219, 166);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 8em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/*==============judul dan deskripsi================*/

.title{
    font-size: 40px;
    text-align: center;
    margin:20px;
}

.description{
    font-size: 50px;
    align-items: center;
    justify-content:space-evenly;
    margin: 10px;
    display: flex;
    position: relative;
    top: 30px;
}

/*================ICON==========================*/

.header-icon {
    text-align: right;
    margin: 20px;

}

/*======================NAVBAR=========================*/

.navbar .container {
    background: transparent;
    display: flex;
    justify-content: space-between; /* Membuat logo, menu, dan ikon cart berjarak */
    align-items: center; /* Menjaga semua elemen sejajar secara vertikal */
    padding: 10px 10px; /* Tambahkan padding sesuai kebutuhan */
}

.nav-links{
    list-style: none;
    display: flex;
    padding-right: 1px;
}

.nav-links li{
    margin-left: 20px;
}

.nav-links a{
    color: rgb(103, 60, 0);
    font-size: 30px;
}

.nav-links input[type="text"]{
    background: rgba(113, 47, 0, 0.212);
    color: #a7ffd6;
    border-color: #a7ffd6;
    float: right;
    padding: 1px;
    border: 2px solid transparent;
    border-radius: 10px;
    outline: none;
    position: relative;
    margin-top: 4px;
    margin-left: 40px;
    font-size: 17px;
}

.nav-links input[type="text"]::placeholder {
    text-align: center;
    opacity: 1;
}

.nav-links input[type="text"]:focus {
    border-color: rgb(255, 0, 0);
}

@keyframes borderAnimation {
    0% {
        border-color: rgb(195,176,145);
    }
    25% {
        border-color: rgb(160, 93, 0);
    }
    50% {
        border-color: rgb(244, 219, 166);
    }
    75% {
        border-color: rgb(227, 144, 0);
    }
    100% {
        border-color: rgb(78, 237, 255);
    }
}

.nav-links input[type="text"]:focus {
    animation: borderAnimation 2s infinite; /* Sesuaikan durasi animasi sesuai kebutuhan */
}

.menu-toggle {
    flex-direction: column; /* Mengatur bar menjadi kolom */
}

.bar {
    height: 3px; /* Tinggi bar */
    width: 25px; /* Lebar bar */
    background-color: white; /* Warna bar */
    margin: 3px 0; /* Jarak antara bar */
}

.makanan-container{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin: 20px;
}

.section-baru{
    text-align: center;
    padding: 25px;
    font-size: 50px;
    position: relative;
    top: 250px;
}

/*=====================cart============================*/

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: rgb(244, 219, 166);
    color: #fff;
    transition: right 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    font-family: 'MADE Sunflower', sans-serif;
    
}

.cart-sidebar h2 {
    padding: 20px;
    background-color: rgb(227, 144, 0);
    margin: 0;
}

.cart-items {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    gap: 10px;
    flex-direction: column;
}

.cart-footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.close-btn, .checkout-btn {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.checkout-btn {
    background-color: #f1c40f;
    border-radius: 10px;
}

#cart-icon {
    cursor: pointer;
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .bar {
        height: 3px; /* Tinggi bar */
        width: 30px; /* Lebar bar */
        background-color: rgb(103, 60, 0); /* Ubah warna di sini */
        margin: 2px; /* Jarak antara bar */
    }
    .menu-toggle {
        display: flex; /* Pastikan menu toggle ditampilkan */
        cursor: pointer; /* Menambahkan kursor pointer untuk indikasi bahwa ini bisa diklik */
        flex-direction: column; /* Agar terlihat seperti garis tiga */
    }
    .nav-links {
        display: none; /* Menyembunyikan nav links secara default */
        width: 300px;
        position: absolute; /* Menjadikan box muncul di bawah toggle */
        top: 260px; /* Atur jarak dari atas */
        left: 0;
        right: 0; /* Agar box melebar sesuai lebar navbar */
        background-color: rgb(244, 219, 166); /* Warna background */
        border: 1px solid rgb(140, 75, 0); /* Border untuk box */
        border-radius: 5px; /* Menghaluskan sudut */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Bayangan untuk efek 3D */
        z-index: 10; /* Pastikan box di atas elemen lain */
    }
    .nav-links.active {
        display: list-item; /* Menampilkan link ketika menu toggle aktif */
    }
    .nav-links input[type="text"]{
        left: 0;
    }
    

    .makanan3{
        flex-wrap: wrap;
    }
}

.makanan {
    position: relative;
    text-align: center;
    background-size: 20px;
    background-color: #F8F0E8; /* Warna latar belakang */
    padding: 20px; /* Memberikan ruang di sekitar elemen di dalamnya */
    border-radius: 15px; /* Membuat sudut yang melengkung */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Menambahkan efek bayangan */
    margin: 20px; /* Memberi jarak antar item */
    max-width: 300px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    top: 300px;
}

.makanan img {
    width: 100%; /* Atur lebar gambar menjadi 100% dari elemen induknya */
    height: auto; /* Mempertahankan rasio aspek gambar */
    max-width: 200px; /* Atur lebar maksimum jika diperlukan */
    border-radius: 10px; /* Tambahkan sudut melengkung pada gambar jika diinginkan */
}


.makanan:hover {
    background-color: #EDE0D0; /* Warna latar saat di-hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Menambahkan bayangan lebih besar */
}

.btn-add-to-card {
    background-color: #d3d3d3;
    border: none;
    color: #699a8c;
    font-size: 12px;
    font-family: 'MADE Sunflower', sans-serif;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    left: -75px; /* Center the button */
}

.btn-add-to-card:hover {
    background-color: #c0c0c0;
}


.btn-add-to-card:hover {
    background-color: #c0c0c0;
}

/*=================section2===============*/
.section2-kedua{
    text-align:center ;
    padding: 25px;
    font-size: 50px;
    top: 840px;
    position: relative;

}